/* *****************************
 *
 * Constant.
 *
 **************************** */
$WRAP_MAX_WIDTH : 960px;

/* *****************************
 *
 * extend classes.
 *
 **************************** */
%center_layout
{
	margin-left: auto;
	margin-right: auto;

	width: $WRAP_MAX_WIDTH;
}

/* *****************************
 *
 * StyleSheet.
 *
 **************************** */
html
{
	font-size: 83%;
}