/* *****************************
 *
 * button style
 *
 **************************** */
.button
{
	padding: 8px 15px;

	color: #515151;
	text-decoration: none;
	line-height: 130%;

	background: #ccc;
}