/* *****************************
 *
 * header
 *
 **************************** */
.editable
{
	h2, h3, h4, h5, h6
	{
		margin-top: 0.5em;
	}

	h2
	{
		font-size: 250%;
	}

	h3
	{
		font-size: 200%;
	}

	h4
	{
		font-size: 150%;
	}

	h5
	{
		font-size: 130%;
	}

	h6
	{
		font-size: 110%;
	}
}

/* *****************************
 *
 * paragraph
 *
 **************************** */
 .editable
 {
 	p
 	{
 		margin-top: 1em;

 		line-height: 160%;
 		font-size: 100%;
 	}
 }